[2018-02-15 19:58] staniel359 opened #7 "Add posts"

[2018-02-15 20:02] staniel359 opened #12 "Improve bookmarks (for most of models)"

[2018-02-15 20:02] staniel359 opened #13 "Improve settings"

[2018-02-15 20:04] staniel359 opened #14 "Set landing page"

[2018-02-15 20:05] staniel359 opened #15 "Add comments to music instances"

[2018-02-15 20:06] staniel359 opened #16 "Add drag'n'drop for tracks"

[2018-02-15 20:09] staniel359 opened #17 "Add scrobbling"

[2018-02-15 20:11] staniel359 opened #18 "Add / Improve audio visualization"

[2018-02-15 20:12] staniel359 opened #20 "Add album reviews (external resources)"

[2018-02-15 20:12] staniel359 opened #21 "Add new and upcoming releases"

[2018-02-15 20:13] staniel359 opened #22 "Fill up footer pages"

[2018-02-15 20:15] staniel359 opened #23 "Add advances search (for main models)"

[2018-02-15 20:15] staniel359 opened #24 "Fix Bancamp tracks expiration date"

[2018-02-15 20:19] staniel359 opened #25 "Add favicon"

[2018-02-15 20:21] staniel359 opened #26 "Add tracks and albums snippets"

[2018-02-15 20:25] staniel359 opened #28 "Add library instances deleting"

[2018-02-15 20:30] staniel359 opened #33 "Add 'Love' button to tracks"

[2018-02-15 20:39] staniel359 opened #36 "Add Bandcamp connection"

[2018-02-15 20:40] staniel359 opened #37 "Add SoundCloud connection"

[2018-02-15 20:41] staniel359 opened #38 "Add other music services connection"

[2018-02-16 09:26] staniel359 opened #42 "Add history to artists"

[2018-02-16 09:30] staniel359 opened #46 "Turbolinks ignore profile logout"

[2018-02-16 10:23] staniel359 opened #48 "Add history to artists"

[2018-02-20 12:07] staniel359 opened #63 "Add bot"

[2018-02-21 20:19] staniel359 opened #64 "Add turbolinks visit to library search path"

[2018-02-21 20:22] staniel359 opened #66 "Disable playlist 'Play' button if playlist is empty"

[2018-02-26 12:44] staniel359 opened #68 "Add API"

[2018-03-06 11:58] staniel359 opened #69 "Decrease album processing time"

[2018-07-15 13:36] staniel359 opened #71 "Improve Discogs service"

[2018-07-26 13:47] staniel359 opened #72 "Improve album tracks retrieving"

[2019-05-24 13:31] #72 closed

[2019-05-24 13:34] #69 closed

[2019-05-24 13:34] #71 closed

[2019-05-24 13:37] #25 closed

[2019-06-07 07:53] #15 closed

[2019-06-17 12:33] staniel359 opened #78 "Improve album processing"

[2019-06-25 10:53] staniel359 opened #83 "Add geolocation"

[2019-06-25 14:19] staniel359 opened #85 "Add ElasticSearch"

[2019-07-01 14:42] staniel359 opened #88 "Move to React"

[2019-07-01 14:43] staniel359 opened #89 "Move to Tailwind CSS"

[2020-02-10 20:02] asadovka opened #96 "ти да"

[2020-02-10 20:59] staniel359 commented on #96
А я тебя знаю.

[2020-06-11 22:04] #96 closed

[2021-07-09 17:43] micalevisk opened #1 "[linux] Failed to load the image path for the tray icon"
Hi! somehow the statement bellow doesn't work (in development) in my Ubuntu 20.04.2

https://github.com/staniel359/muffon/blob/ab2d6be55ab2423d2c94d4d360bc25084a923315/electron.js#L125

[code]

Note that `xx/muffon/public/icon.ico` exists

[code]

Changing the `iconPath` to load `foo.jpg` instead of `icon.ico`, everything works.

---

When I tested the `0.1.0-alpha.8` the error is `TypeError: Cann

[2021-07-10 14:54] staniel359 commented on #1
@micalevisk Thanks for the hint. It will be fixed in the next release.

[2021-07-10 15:30] #1 closed, assigned to staniel359

[2021-07-12 15:43] robin98 opened #2 "Add offline feature"
Hi,
This is so good. but it is great if you add offline / download as .mp3 capability.
Thanks.

[2021-07-12 15:57] staniel359 commented on #2
@robin98 Could you please explain in details how are you expecting this feature to work?

[2021-07-13 14:38] dm9pZCAq commented on #2
may be add option to download tracks, albums or full artist discography?

for example by right click on track and than press `download` button

or add `download` button near `play`

[2021-07-13 14:45] staniel359 commented on #2
@dm9pZCAq Sorry, no downloads. It may cause legal troubles.

[2021-07-13 19:01] robin98 commented on #2
This is so bad. at least you can make an offline playlists, so users still be able to listening to the music while they can't access the internet, just like Spotify app.

[2021-07-13 19:59] staniel359 commented on #2
@robin98 It would be quite complicated to achieve.
For Spotify if you save song for offline, it saves one particular song from one source. But here you don't have songs, but tracks, which have multiple versions of song from different sources.
One option can be choosing the track song (variant) and then save it for offline, but only when that song is playing. In that case it can be done, but in the

[2021-07-14 14:39] robin98 commented on #2
You may create a separate extension for the muffon that add Download feature to it.
This is how if any legal problem happenes, it’s just about that certain extension, not your whole project ;) (It could be like an 3rd party extension)

[2021-07-14 21:02] AlirezaHC opened #3 "Connection error"
are servers down ?

[2021-07-14 21:15] staniel359 commented on #3
@AlirezaHC Yes, temporarily.

[2021-07-15 09:56] staniel359 commented on #3
@AlirezaHC Should be working now.

[2021-07-15 10:10] Six6Be commented on #3
hi, not working

[2021-07-15 10:33] staniel359 commented on #3
@Six6Be @AlirezaHC Sorry, folks, forgot to restart server. **Now** it should be working.

[2021-07-15 22:37] #3 closed, assigned to staniel359

[2021-07-18 09:53] grishiit opened #4 "Add the ability to subscribe and create playlists (Like in NewPipe)"
Hello,
This is only alpha, but already works great. It would be nice to add the ability to make playlists (or save existing ones) and subscribe to the artists you want. It is even possible to separately add a section with "liked" tracks (preferably with its specific variant from a specific source).
Thanks.

[2021-07-18 10:31] staniel359 commented on #4
@Ilyaandro Hello and thanks for the feedback.

What to playlists - it is a planned feature, it will be implemented in near future.
What to liked tracks - it will be as well, but maybe a little bit later.
What to artists' subscriptions - could you please explain in details how do you want it to work?

[2021-07-18 10:36] staniel359 commented on #2
@robin98 Okay, I think, we'll figure this out in the future.

[2021-07-18 14:31] grishiit commented on #4
@staniel359 Ideally, there would be a feed tab with new songs from the artists you follow.

But, if this is too difficult to implement, it would be nice to just have a tab for quick access to the profiles of your favorite artists.

[2021-07-18 19:47] staniel359 commented on #4
@Ilyaandro I think it will be possible. Just a matter of time.

[2021-07-21 11:58] abisar opened #5 "Click for search and like tracks"
Awesome software! asking for features:

- Ability to like songs
- Click to search along with the shortcut, maybe in the top bar

[2021-07-21 14:10] staniel359 commented on #5
@Abisar Hello and thanks for the feedback.

These are planned features, they will be implemented in future.

[2021-08-04 08:54] eriksenmarshal opened #6 "let the user copy the albums and tracks' links!"
### Suggestions
create the option to copy and share the albums & tracks' links. Also make the ability to create playlists and also downloading for offline listening. also let users clear search history and cache.
thx for creating this app.

[2021-08-11 08:19] staniel359 commented on #6
@eriksenmarshal Thanks for the feedback.
These are planned features which will be implemented in future.

[2021-08-11 08:56] eriksenmarshal commented on #6
Thx 🥂

On Wed, Aug 11, 2021 at 12:49 Aleksey Shpakovsky ***@***.***>
wrote:

[2021-08-12 19:25] 0xAlok opened #8 "how much ram does it consume?"

[2021-08-12 20:42] staniel359 commented on #8
@Scorzen Depends on how many tabs are open.
But not more than a regular browser.

[2021-08-13 18:38] 0xAlok commented on #8
cool

[2021-08-13 18:38] #8 closed, assigned to staniel359

[2021-09-02 19:50] Araken opened #9 "Scrobble feature"
Are there any plans to add a scrobble feature to Muffon? Thank you.

[2021-09-03 16:56] staniel359 commented on #9
@Araken I'm not planning it right now, but let's see in the future.
If there's a need for that, then sure, why not.

[2021-09-26 10:36] #5 closed, assigned to staniel359

[2021-10-30 17:52] starise commented on #9
it'd be a nice feature

[2021-10-30 17:58] staniel359 commented on #9
@Araken @starise Do you want the tracks to be scrobbled only to Last.FM or to muffon as well?

[2021-10-30 18:30] starise commented on #9
@staniel359 I was talking about sending tracks infos from muffon player to audioscrobbler APIs (last.fm/libre.fm) for tracking. Maybe I didn't understand: what do you mean with 'to muffon' ?

[2021-10-30 18:39] staniel359 commented on #9
@starise I meant, should they be tracked in app too.
But I got you, only Last.FM.

[2021-10-30 18:56] starise opened #10 "Italian translation"
As soon as possible I'll work on the italian translation, it looks like simple stuff. Hope it'll be appreciated.
Thank you very much for your work, very nice app!

[2021-10-30 18:59] staniel359 commented on #10
@starise Thanks for your feedback.
Sure, that would be great. If you have any questions on translation, please contact me by my email.

[2021-11-01 18:28] starise opened #11 "Volume level is not remembered after restart"
**Debug**:
1. Set the volume level to a value less than 100 (ie: 50).
2. Quit muffon
3. Restart muffon

**Result**:
I get the volume back to the max value of 100.

**Expected behavior**:
muffon should remember the previously set volume level.

App version: 0.1.0-alpha.13
OS version: Windows 11 21h2

[2021-11-01 20:49] staniel359 commented on #10
@starise Could you please also address translations here https://github.com/staniel359/muffon/blob/main/electron.js#L54?

[2021-11-02 11:27] staniel359 commented on #10
@starise Could you please create PR once again? I kind of messed up commits.

[2021-11-02 12:42] #11 closed, assigned to staniel359

[2021-11-02 12:43] #9 closed, assigned to staniel359

[2021-11-02 13:12] #10 closed, assigned to starise

[2021-11-08 22:09] vkefallinos opened #19 "Develop a plugin system"
First of all great work. I would love to contribute.

I would like the ability to create a plugin for muffon. Specifically to add metadata and media sources or even a custom media player.

Plugin examples:
-  import music from the harddrive
- add a local music search provider
- add custom source for audio files
- allow for flac/wav media playing

You can guide me on where to look for these and I w

[2021-11-09 08:15] staniel359 commented on #19
@vkefallinos Hello and thanks for your feedback.

Let me clarify your points:
1. `to add metadata` Of what kind?
2. `media sources` You can request media source you'd like to add and I'll look through it.
3. `a custom media player` Is this really necessary? There is a player already.
4. `import music from the harddrive` There's already an ability to import tracks data from your drive in library se

[2021-11-09 11:24] vkefallinos commented on #19
1. Metadata sources for greek music for example from an api that you probably don't want to support. You now search on spotify, bandcamp etc for artist/album/song metadata.
2. For example I would like soulseek as a media source which ofcourse can't happen in a project like this. So the plugin pattern used by stremio for movies I think is a great a fit for muffon.
3. Custom media player for flac fi

[2021-11-09 12:24] vkefallinos commented on #19
So the idea is that if we move the logic behind spotify,vk,bandcamp etc in a separate repository as plugins and allow the user to enable certain plugins, this will enable more community contributions.

[2021-11-09 15:09] staniel359 commented on #19
@vkefallinos Thanks for the explanation.
If I got you correctly, you want the app to work with actual audio files from your drive or Soulseek. So you want the plugin that makes the app like file manager or regular desktop player, e.g. WinAmp or VLC, right?

[2021-11-09 21:18] vkefallinos commented on #19
mostly I would like to be able to develop my own plugins. So instead of asking for features I'd like to develop plugins that work with muffon.
One plugin I would develop would be to add soulseek(a 90s software for sharing music that still has a huge community) as a music source. Another would be to load tracks from my hard drive.

[2021-11-09 21:39] staniel359 commented on #19
@vkefallinos I see.
Well, I didn't plan to make the app extendable via plugins. Just don't want to overload it with features.
But that's actually a good idea, so maybe try to implement it in another app or even create your own. I think, that would be much easier to do from scratch.
Besides, I know Soulseek and use it sometimes. But for me the interface could use a little work. If you create a mode

[2021-11-09 21:39] #19 closed, assigned to staniel359

[2021-12-10 21:10] vkefallinos commented on #19
It depends on what you want to do. I like using software I can extend with plugins. It somehow makes open source more open. Anyway. Thank you for your time! :)

[2021-12-30 11:15] arefrafei92 opened #27 "JavaScript error occurred in the main process - macOS"
There is an error before playing music and in the start of app, it prevents app from going next music unless click on ok

<img width="372" alt="image" src="https://user-images.githubusercontent.com/8364557/147747027-ad9c7c58-e532-427f-8b73-f9988a7b3edd.png">

[2021-12-30 12:19] staniel359 commented on #27
@z85510 Hello.
Got it. Will be fixed in the next version.

[2021-12-30 20:18] staniel359 commented on #27
@z85510 Could you download new version and check for the bug again?

[2021-12-30 20:31] arefrafei92 commented on #27
<img width="372" alt="image" src="https://user-images.githubusercontent.com/8364557/147786044-da53470a-7715-4d82-bf41-33854876f39d.png">
This happens in start, and now nothing work in app and search doesn't work , in the previous version there were some error in start and before playing every music but after clicking on ok it was working but now I can't even find a music to play

[2021-12-30 20:43] staniel359 commented on #27
@z85510 That's weird.
The problem is with the tray. Do you see app icon in system's tray?

[2021-12-30 21:38] staniel359 commented on #27
@z85510 Okay, I've made changes. Try downloading 0.1.0-beta again.

[2021-12-30 23:10] boehs commented on #2
It's quite easy to download music via youtube

[2021-12-31 08:08] staniel359 commented on #2
@boehs It is. But it is legal?

[2021-12-31 08:51] staniel359 commented on #6
@eriksenmarshal

Is this still relevant? What's the purpose of offline listening?

[2021-12-31 08:52] staniel359 commented on #2
@robin98 Is this still relevant? What's the purpose of offline listening?

[2021-12-31 10:04] arefrafei92 commented on #27
It works perfectly, great job ✌🏼

[2021-12-31 10:08] staniel359 commented on #27
@z85510 You're welcome.

[2021-12-31 10:08] #27 closed, assigned to staniel359

[2021-12-31 12:33] khalil-farashiani opened #29 "I can't sign up"
when i try to sign up i got the message "Nothing was found" what is the problem

[2021-12-31 12:34] staniel359 commented on #29
@khalil-farashiani Are you using 0.1.0-beta?

[2021-12-31 14:13] khalil-farashiani commented on #29
i used alpha. i've changed to the beta it's works!!

[2021-12-31 14:13] #29 closed, assigned to staniel359

[2021-12-31 15:35] alinasrabadi opened #30 "Error: Uncaught Exception: TypeError: Cannot read properties of null (reading 'setContextMenu') at setTrayMenu"
- Version: 0.1.0-alpha.16 (0.1.0-alpha.16)
- Target: MacOs 12.0.1

Error when running pkg version

`Uncaught Exception:
TypeError: Cannot read properties of null (reading 'setContextMenu')
at setTrayMenu (/Applications/muffon.app/Contents/Resources/app.asar/electron.js:180:8)
at show (/Applications/muffon.app/Contents/Resources/app.asar/electron.js:98:3)
at BrowserWindow.handleReadyToShow (/Applic

[2021-12-31 16:17] staniel359 commented on #30
@alinasrabadi Please download 0.1.0-beta.

[2021-12-31 16:20] #30 closed, assigned to staniel359

[2021-12-31 16:21] boehs commented on #2
Probably, but consider

1. If it is, this project is also. Streaming music is obtaining a copy, and you don't have the copyright holder's consent.
2. YoutubeDL was taken down on the grounds of DMCA but quickly restored because it was BS. Perhaps there is an angle, but the RIAA is too dumb, too lazy, or it just does not exist. Perhaps a combo of both
3. A defense is some music you do have the right

[2022-01-01 10:30] arefrafei92 opened #31 "suggestions"
Add ability to go next page when it reaches end of list and also add feature to change item per page count.

Make android/ios version as well or web app

[2022-01-01 11:00] staniel359 commented on #31
@z85510

You mean infinite scroll?

Frankly, I didn't plan to make one of those.

[2022-01-07 18:04] staniel359 commented on #2
@boehs

But it's a desktop app.

So what's exactly your point on downloading? I didn't seem to get it.
For me it's not so legal comparing to just listening.

[2022-01-10 12:49] staniel359 commented on #4
@Ilyaandro Hello.
Seems like none of the services the app uses actually provide access to new tracks information.

[2022-01-10 12:49] #4 closed, assigned to staniel359

[2022-01-10 19:00] Galladean opened #32 "Reset Password"
Hi, I recently found the program just before the beta was released and was extensively using it at the time. Recently I had to reinstall all programs after a format and realised I don't remember the password to my account. I couldn't find any references on how to recover my account in the event I do forget and although its fairly easy to make a new account its a hassle to find all the songs again.

[2022-01-10 19:31] staniel359 commented on #32
@Galladean Hello.
Right now there's unfortunately no way to reset your password, but I will add this feature.
Meanwhile you may send me your email that you used for sign up and your new (temporary) password to staniel359@gmail.com and I will change it on the server.
After login you may change that password again.

[2022-01-10 21:16] Borewit opened #34 "Cannot sign up"
I wanted run the application from my dev enviroment to figure out if [music-metadata](https://github.com/Borewit/music-metadata) could be an interesting alternative for jsmediatags.

I cannot create an account, is your server maybe down @staniel359?

![image](https://user-images.githubusercontent.com/23255260/148840402-3c2384df-c68f-48f6-8943-9e3a901e65c5.png)

[2022-01-10 21:28] staniel359 commented on #34
@Borewit Hello.
You don't have a development server running.
You should switch to production one as seen [here](https://github.com/staniel359/muffon/blob/main/src/main.js#L16).

[2022-01-11 18:44] Borewit opened #35 "`start:electron` script does not work on Windows"
Executing `start:electron` will throw an error:

[code]

As https://github.com/staniel359/muffon/blob/6f23daca6054428a4dc7b5a2613fce520c8198a9/package.json#L20
contains Unix specific environment variable assignment.

[2022-01-11 18:55] #35 closed, assigned to staniel359

[2022-01-11 18:58] Borewit commented on #34
Connecting to `https://muffon.endorphine.by` works, the application looks amazing!

So how do I start a local server back-end? Is that `yarn run start`, which listens to HTTP/TCP port 3000?

[2022-01-11 19:04] staniel359 commented on #34
@Borewit It requires Ruby and [this repo](https://github.com/staniel359/muffon-api).
But you probably wouldn't want to do that.

[2022-01-11 19:06] Borewit commented on #34
Understood, thanks @staniel359!

No, I think you are right, but good to know.

[2022-01-11 19:06] #34 closed, assigned to staniel359

[2022-01-12 09:23] arefrafei92 commented on #31
Yes, infinite scroll can bring better UX.
If you need to make smartphone application I can help with it , I'm flutter developer

[2022-01-12 12:41] staniel359 commented on #31
@z85510 Then infinite scroll will be as an option.

And what to mobile app: let's put aside this question for now.
I wanted to finish desktop one first.
But I appreciate your help, very nice of you.

[2022-01-14 16:08] Drus566 opened #39 "Download music"
Hi, sorry for my english. How download music from this program??? Thank you.

[2022-01-14 16:22] staniel359 commented on #39
@Drus566 Hello.
Sorry, there is no download feature. Only listening.

[2022-01-24 13:48] #39 closed, assigned to staniel359

[2022-02-08 08:14] Alih0982 opened #40 "stop working"
when i want play music muffon stop working and close

[2022-02-08 08:22] eriksenmarshal commented on #6
i think it's just a good feature like spotify, for the times we dont have access to internet we can listen to music offline from our current playlist

[2022-02-08 08:23] eriksenmarshal commented on #6
i also highly suggest to enable users copy links of songs or playlists then we can share our playlists with others... or just use links from their sources like spotify, deezer, tidal ...

[2022-02-08 08:33] eriksenmarshal opened #41 "download speed is very slow!"
i've just tried downloading the latest version but it takes about 2 hours to just download a 75mb file! please fix the downloading issue.
thanks

[2022-02-14 18:31] staniel359 commented on #40
@Alih0982 Hello.
Could you please describe your problem in details?

[2022-02-14 18:33] staniel359 commented on #41
@eriksenmarshal Hello.
I'm afraid, I can't do anything with it. GitHub itself hosts these releases.
So you may write to GitHub support about download speed.

[2022-02-14 18:33] #41 closed, assigned to staniel359

[2022-02-20 10:54] debpalash opened #43 "last.fm Bad Request after allowing"
![image](https://user-images.githubusercontent.com/4178343/154839148-26d2c02d-4b49-4a1e-8bc6-99e694363410.png)

[2022-02-21 17:38] eriksenmarshal opened #44 "please provide this feature..."
im using  this app almost every day and thank u very much for creating it... i just wanted to suggest creating a share button to share our playlists or favorite songs with others. just like other streaming platforms like deezer or spotify, they allow user to copy the link of a track, album, playlist and... please make this option available
thanks

[2022-02-24 12:55] voy22 opened #45 "Infinity search"
Hello Akeksey
Glad to see this amazing product.
But i see some bugs
1) Infinity search
<img width="1137" alt="image" src="https://user-images.githubusercontent.com/25362701/155526969-e46a6d1b-9957-4771-85b4-e0fedede6191.png">

2) I closed the app and some track still playing and it is still in systray.
Even "Quit" doesn't helps me
<img width="172" alt="image" src="https://user-images.githubusercon

[2022-03-26 12:57] staniel359 commented on #45
@voy22 Hello.
I just tried it myself.
The search is working and the app closes on 'Quit' and music stops.
Does the problem still persist?

[2022-03-26 13:00] staniel359 commented on #44
@eriksenmarshal Hello.
There's already an issue of you (#6).
I saw it, it'll be implemented in future.

[2022-03-26 13:00] #44 closed, assigned to staniel359

[2022-03-26 13:01] #40 closed, assigned to staniel359

[2022-03-30 06:57] staniel359 commented on #43
@debpalash Hello.
Fixed. Check it please.

[2022-03-30 07:06] debpalash commented on #43
Sure. Thanks
Works smoothly :)

[2022-03-30 08:36] #43 closed, assigned to staniel359

[2022-04-08 18:25] #45 closed, assigned to staniel359

[2022-05-06 03:41] xnghu opened #47 "re: Server Not Working Announcment- will it come back or is this project dead?"
Just curious if this project will come back? I had just barely begun using it when then it stopped working and I see your announcement on the Read Me- just curious if I should check back, or if this is the end?

[2022-05-06 05:59] staniel359 commented on #47
@xnghu Hello.
Yes, it will come back.
With new features even.

The issue is the main server's hard drive has stopped working.
So right now I'm moving to another server and should setup some infrastructure and test it.
And there's also an issue with hard drive's data.
Right now it's not clear whether it's recoverable or not, so I'm waiting for my fellow technician's response.

So basically the app'

[2022-05-06 14:19] xnghu commented on #47
fantastic news, thanks for the answer! looking forward to beta.2 :)
& I appreciate your work here, muffon is a great project!

[2022-05-06 14:41] staniel359 commented on #47
@xnghu Thank you.
I'm sorry for the technical difficulties.

[2022-05-06 14:41] #47 closed, assigned to staniel359

[2022-05-07 13:06] #32 closed, assigned to staniel359

[2022-05-13 08:26] #6 closed, assigned to staniel359

[2022-05-22 15:29] maxsubs opened #49 "can't import library from last.fm"
after linking my last.fm account, I've tried to import my library, but I'm getting this error "Forbidden
You don't have rights to perform this action". Muffon shows as "connected" on lastfm/settings/applications, so I don't really know if it's a bug or something else.

[2022-05-22 16:37] staniel359 commented on #49
@maxsubs Hello.
When exactly do you get this message?

[2022-05-22 16:49] maxsubs commented on #49
when I go to Library/add to library/from account/ and click on the red button "import last.fm data" then I get to see my lastfm username and number of scrobbles to import (51.010) and get this error, the progress bar doesn't move and beneath is loading...

[2022-05-22 16:58] staniel359 commented on #49
@maxsubs
That's weird. It's working with my account.
What's your Last.FM nickname?

[2022-05-22 17:04] maxsubs commented on #49
maxif875, may it be too many data to import?

[2022-05-22 17:46] maxsubs commented on #49
it's not scrobbling from my local library to lastfm either, so it's something wrong with the connection with lastfm, just checked it if scroblings were working

[2022-05-22 17:54] staniel359 commented on #49
@maxsubs Seems like it's Last.FM error.
When I try to get your scrobbles, it returns:
`Login: User required to be logged in`

[2022-05-22 18:04] maxsubs commented on #49
wait, I don't get it, how can you get my scrobbles without connecting first to lastfm on settings/services, if I don't link my lastfm account first, the button "add library from account" is greyed out. And for that you need my password. Where are you getting that message?

[2022-05-22 18:09] staniel359 commented on #49
@maxsubs Don't worry, I didn't use your account.
Here's the link to your Last.FM scrobbles:
https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=maxif875&api_key=fb914bd85f85f89d750e93c8bfb70012&format=json

[2022-05-22 18:18] staniel359 commented on #49
@maxsubs I've just asked Last.FM support about this.
That's weird, this error is not even documented.
Will wait for response.

[2022-05-22 18:31] maxsubs commented on #49
sorry didn't mean that, I was just curious. Now that I see the link I see it's about recent songs, which I had disable on lastfm/settings/privacy/"Hide recent listening information" if I make this public, so Muffon can now retrieve my library, so
SOLVED! thanks for the assistance and for the great software!

[2022-05-22 18:33] maxsubs commented on #49
maybe it'd be good to show a warning to make your recent songs public for it to work. I thought since I had my account linked with my password and all that it didn't matter

[2022-05-22 18:59] staniel359 commented on #49
@maxsubs Good.
Didn't know that scrobbles should be shown to be imported.

`> maybe it'd be good to show a warning to make your recent songs public for it to work`
Good idea. I'll make a message about it.

And you're welcome.

[2022-05-22 18:59] #49 closed, assigned to staniel359

[2022-05-23 22:36] maxsubs opened #50 "Internal server error"
I've been getting this error for the last few hours, can't do anything:

Internal server error
Please contact us for information

Is server down? thanks!

[2022-05-24 10:25] staniel359 commented on #50
@maxsubs Hello.
Some problems with database.
I've restarted it, but I'll try to find a fix for this.

[2022-05-24 10:59] maxsubs commented on #50
working again :)

[2022-05-30 10:15] maxsubs opened #51 "Ability to hide artist in library for recommendations"
I use Muffon mostly for the recommendations. I've imported my Last.FM library, but when I go to Recommendations I have to manually hide the artists that already are on my library. It would be nice if it were possible to filter artists already on my library with more than X songs/scrobbles "Hide recommendations with more than 5/15/30... songs in your library". Just an idea, don't know if it'd be ea

[2022-05-30 13:59] staniel359 commented on #51
@maxsubs Hello.
I had an idea of an option to hide recommendations if they're in library or in listened artists.
Just didn't add it yet.
Is it important to consider number of artist's songs for this?

[2022-06-01 20:47] cyberofficial opened #52 "Use with out registering"
Any way to use with out signing up/in?

[2022-06-02 07:35] staniel359 commented on #52
@cyberofficial Hello.
Sorry, there's no such option.
You can use fake email, though.

[2022-06-02 09:06] premek commented on #52
what is the account and the email used to? I was also not expecting needing to log in on my first use. Maybe add the answer to this question to the login/singnup screen for the first time users like me

[2022-06-02 09:14] premek opened #53 "suggestion: first use"
I have just opened the app for the first time, so this is just my personal experience
When you open the application for the first time there is a screen saying:

muffon
Welcome, username

nothing else, and most of the sections in the menu are empty: Feed, Library, even Recommendations,

It might be useful to show the user some options what to do next. Offer some popular artists or radio stations?

[2022-06-02 10:11] staniel359 commented on #52
@premek Hello.
It is used for tracking users count and for most of the features described [here](https://github.com/staniel359/muffon#features).

I think it's common practice for Web applications to require sign up.
Why should it be explained?

[2022-06-02 10:22] staniel359 commented on #53
@premek Hello.
I was planning to add some functionality to home page, but didn't come up with it yet.

But I think all of the features are self-explanatory: feed is posts of profiles/communities you're following, library is artists/albums/tracks you're adding, and recommendations are generated based on what you've added to your library (it's mentioned [here](https://github.com/staniel359/muffon#fe

[2022-06-02 12:32] premek commented on #52
yes but it's unexpected for desktop apps, at least for me.
But please don't take this as a criticism, I just wanted to give feedback.

On Thu, Jun 2, 2022 at 12:11 PM Aleksey Shpakovsky ***@***.***>
wrote:

[2022-06-02 14:08] staniel359 commented on #52
@premek Sometimes desktop app is a Web app. Spotify, for instance.

Sure, I appreciate your feedback.

[2022-06-02 17:52] cyberofficial commented on #52
You can just use analytical services  for user counts, and if you want to store the users info, just save the data to a file which the user can import or export.

Not 100% of people are going to use posting, following, messaging so on. It's redundant in today's already clogged social media platforms, you have a great platform, but it's major turn off for many people if you want people to sign up.

[2022-06-03 13:04] ch-rs commented on #51
Hi. I've been testing this and here's my two cents.

The way Last.FM works means you can end up with a lot of unknown artists in your library. With a library imported from Last.FM, an artist can be in your library if you've only listened to a single track one time. If you exclude all in-library artists from recommendations, anything you've listened to at all in the past wouldn't show up.

Let's sa

[2022-06-04 09:38] maxsubs commented on #51
Exactly what @ch-rs has said. I have been using Last.FM since 2005, so the amount of 1-5 song artists of which I know (close to) nothing of them is huge. I'd prefer the idea of filtering them by songs in library, over deleting them from my library, or not importing them, since I'd like to know that I have already listened to them.
But yes, excluding artists would be an improvement at any rate :)

[2022-06-04 10:07] staniel359 commented on #52
@cyberofficial I got your point.

I think these 2 points don't match.

I don't get the idea of this.

But the idea is to provide full experience of using the application.
So the person should sign up to do that, even if they won't use all of its features.
If they don't want to do that, they can use other services that don't require an account.

Why should person be worried about their data if I do

[2022-06-04 10:49] staniel359 commented on #51
@ch-rs @maxsubs I got your point.
So there will be an option to
`Hide artists from my library`
with optional field
`with number of tracks more than {number}`.

[2022-06-04 14:36] cyberofficial commented on #52
You don't need to collect that, but we still don't know what you are collecting about the user if we don't have a privacy policy.
You still need to provide one [The Data Protection Act 1998 (or DPA)] to areas outside of the USA.
We the users don't know if you collect our Geo Location Data, Computer Name, HWID, and other hardware or software info.

For all we know, you have a backend system that co

[2022-06-04 15:55] staniel359 commented on #52
@cyberofficial Got it, thank you for clarification.
I'll add Privacy Policy.
Perhaps also Terms And Conditions would be necessary in that case.

[2022-06-09 06:58] bytezeroseven opened #54 "Question: Can I use your API in a personal project?"
I'm interested in the API for getting the Spotify download links. Currently, it doesn't have CORS restrictions and can be accessed from any host. Will it stay like that forever? Can your server handle a lot of requests? Let's say 100 download requests per minute without projecting much decrease in speed.

[2022-06-09 07:25] staniel359 commented on #54
@bytezeroseven Hello.

Don't know about forever :) But in further it'll be working like it's working now.

Frankly, I didn't test it that way.
Maybe the server can handle such load, but Spotify may not.
I mean, it may ban my account or something else. Don't know.

[2022-06-11 23:21] ob-tk opened #55 "Login to content providers systems"
Is it possible to add a login (if any) to use tracks with a bitrate of 320?

[2022-06-12 08:09] staniel359 commented on #55
@ob-tk Hello.
You mean, if you have a premium account on some service, you would like to connect it and use it for HQ audio?

[2022-06-12 12:37] ob-tk commented on #55
Exactly!

[2022-06-12 13:07] staniel359 commented on #55
@ob-tk Good idea.
I was thinking about this too.
Let's add this feature.

[2022-06-12 13:16] staniel359 commented on #55
@ob-tk Which services do you mean exactly?

[2022-06-12 13:24] ob-tk commented on #55
@staniel359, music.yandex.ru is interesting for me personally

[2022-06-12 13:43] staniel359 commented on #55
@ob-tk Okay, thanks.

[2022-06-15 11:00] #54 closed, assigned to staniel359

[2022-06-19 11:48] althafpaika opened #56 "connection lost"
getting this error message "Connection lost
Please try again in a moment" whenever try to sign up, even though the internet is super fast

[2022-06-19 12:22] staniel359 commented on #56
@althafpaika Hello.
That's weird. The server is working.
Can you try now?

[2022-06-20 21:11] #53 closed, assigned to staniel359

[2022-06-24 09:02] althafpaika commented on #56
![Screenshot (6)](https://user-images.githubusercontent.com/78699910/175501098-5e99b63c-f056-4f71-8274-693237c5df58.png)
STILL SAME..

[2022-06-24 13:50] staniel359 commented on #56
@althafpaika Is it the first time you've installed it or have you installed it before?

[2022-06-25 05:53] althafpaika commented on #56
its first time installed it..

[2022-06-25 08:51] staniel359 commented on #56
@althafpaika Which version are you using?

[2022-06-26 16:38] #2 closed, assigned to staniel359

[2022-06-27 04:35] althafpaika commented on #56
v0.1.0 - downloaded from the link you put on your readme.md download section (https://github.com/staniel359/muffon/releases/tag/v0.1.0)

[2022-06-27 09:45] staniel359 commented on #56
@althafpaika That's weird.
There should be language select option under signup form.
This option was added in 0.1.0.

Do you have the installer?
There should be version number in its name.
Could you check please?

[2022-06-27 12:22] althafpaika commented on #56
@staniel359 yes i have and its name is "muffon-0.1.0-beta.1.exe"
but i can't see any language selection option in signup form �
![Screenshot (12)](https://user-images.githubusercontent.com/78699910/175940514-b3b2460f-c0ec-4820-8b45-3ccaf6dcb1d0.png)
�

[2022-06-27 12:44] staniel359 commented on #56
@althafpaika There you go.
You've downloaded wrong version, which is not working anymore.
[Here's the latest one](https://github.com/staniel359/muffon/releases/tag/v0.1.0).

[2022-06-28 10:11] althafpaika commented on #56
@staniel359 i see, thanks its working.

[2022-06-28 10:11] #56 closed, assigned to staniel359

[2022-06-28 11:57] staniel359 commented on #56
@althafpaika You're welcome.

[2022-07-06 12:34] #52 closed, assigned to staniel359

[2022-07-08 13:51] #31 closed, assigned to staniel359

[2022-07-11 17:34] #51 closed, assigned to staniel359

[2022-07-12 19:34] PoSayDone opened #57 "How to build under linux?"
Hi, I'm using archlinux, so I can't use .deb package, but I'm not familiar with electron apps. Could you help me with building and installing of muffon?

[2022-07-12 21:19] staniel359 commented on #57
@PoSayDone Hello.
Added instructions [here](https://github.com/staniel359/muffon#build).

[2022-07-16 03:33] DoYouNotice opened #58 "hide profile / only following people and import playlist from spotify, Change default search engine"
As of now everyone can see everyones profile playlists and so on. I think this is privacy wise not really good and it would be better to hide it from everyone or only to friends/following.

It would be nice to be able to import a spotify or from other plattforms the music list so you dont have to do it manually.
i saw a feature to import data from last.fm but it didnt really work

error: Forbidden

[2022-07-16 09:06] staniel359 commented on #58
@DoYouNotice Hello.
Thanks for the feedback.

error: Forbidden
You don't have rights to perform this action

You should make your scrobbles public during import.

[2022-07-18 21:22] abavoil opened #59 "Add a download button"
Could it be possible to add a download button to save a track(/an album/a playlist) localy ?

[2022-07-19 09:51] staniel359 commented on #59
@abavoil Hello.
In the next version there'll be a feature to save a track for offline listening, but only in the app itself.
I decided there won't be any downloads because it may cause legal issues.

[2022-07-20 17:37] DoYouNotice commented on #58
thanks for tip it worked.
btw nice update, make sure to not get copyright problems for the offline listening future

[2022-07-20 18:19] staniel359 commented on #58
@DoYouNotice Thanks.
Offline tracks are encoded, so I hope that'll do.

[2022-07-23 16:14] #57 closed, assigned to staniel359

[2022-07-23 16:14] #59 closed, assigned to staniel359

[2022-08-04 14:38] frymex opened #60 "Не работает проигрывание со Spotify."

[2022-08-04 14:52] staniel359 commented on #60
@frymex Приветствую.
А теперь?

[2022-08-04 16:27] frymex commented on #60
теперь работает

[2022-08-05 10:02] #60 closed, assigned to staniel359

[2022-08-14 18:49] jamescalderon opened #61 "Installers"
I am trying to install this, but get dependency errors no matter way I try - both on Ubuntu LTS and Mint.

Please clarify/create documentation for others to simplify the installation. Running the installation as directed (or from the .deb file), even when each dependency is installed gives errors.

This is amazing work and it would be great if it was easier to install - it would then become VERY p

[2022-08-17 12:20] staniel359 commented on #61
@jamescalderon Hello.
I don't understand, are you trying to install or to build?

[2022-08-28 10:17] #61 closed, assigned to staniel359

[2022-09-02 18:49] staniel359 commented on #58
@DoYouNotice

i saw a feature to import data from last.fm but it didnt really work

Related to #55.

[2022-09-05 10:40] mYnDstrEAm opened #62 "Why does it use some external API instead of connecting to the streaming providers directly?"
From [this file](https://github.com/staniel359/muffon/blob/main/src/main.js), it looks like some API is used. Why is that?

I don't think the similar music player [Nuclear](https://github.com/nukeop/nuclear/) (still very bugged) uses such and people on reddit raised concerns over this in multiple threads like [this one](https://www.reddit.com/r/javascript/comments/ogwzja/muffon_desktop_music_brows

[2022-09-05 12:37] staniel359 commented on #62
@mYnDstrEAm Hello.
It's back-end part of the application.
It manages not only music streaming logic, but also data processing and formatting, database reading and writing, background jobs, and contains secret data (like API keys).

[2022-09-05 13:48] mYnDstrEAm commented on #62
* Is the backend open source too?
* I still don't understand why the music streaming logic, data processing and formatting, database reading and writing and background jobs aren't simply done locally by the client.
* Can't the API keys be generated/stored locally? Does somebody know how Nuclear does this? From [this file](https://github.com/nukeop/nuclear/blob/6a99b3f85042f170de840d3e9b9381d8cd5fd

[2022-09-05 14:13] staniel359 commented on #62
@mYnDstrEAm

Sure, the source code is [here](https://github.com/staniel359/muffon-api).

You may read about [SSOT](https://en.wikipedia.org/wiki/Single_source_of_truth) concept.

[2022-09-05 14:22] mYnDstrEAm commented on #62
Well that makes sense but still all of this could be done locally within the client.

This way, you don't need to run a server, people don't need to send info to some server or be dependent on it, and the streaming services get accessed by the users themselves, etc. I don't see how this would be either required or better than not having to connect to some intermediary server.

[2022-09-05 14:50] staniel359 commented on #62
@mYnDstrEAm Look, the app is not just about music listening.
It has a lot of other features that could not be done without remote server.
That's how web applications work.
Most of the things are just impossible to do just on the client side.

[2022-09-05 16:52] staniel359 commented on #62
@mYnDstrEAm What to Nuclear: maybe it does have all the needed logic on client side and doesn't need back-end server for working.

[2022-09-10 20:02] #62 closed, assigned to staniel359

[2022-09-11 06:15] pallokana opened #65 "last.fm connect button doesn't open web browser [Windows 11]"
Tried using different browsers but nothing worked. Other music players connected just fine so I don't think it's a problem on my end.

[2022-09-11 07:35] filipporomani opened #67 "No support for surround audio"
I have a 5.1 surround, and i'm not able to use that with muffon!
That's the only negative perk of the software.
I hope it can get fixed!

[2022-09-11 10:05] staniel359 commented on #65
@pallokana Hello and thanks for the feedback.
Bug has been fixed and changes will be released in next version.

[2022-09-11 10:10] #65 closed, assigned to staniel359

[2022-09-11 10:38] staniel359 commented on #67
@filipporomani Hello again and thanks for your feedback.
Are you sure that the audio you're listening on muffon is in 5.1?

[2022-09-11 12:28] filipporomani commented on #67
Hello to you too!
Yes I'm sure, I play the same song on Spotify and i have full surround, and with the same song on muffon it hasn't.

[2022-09-11 12:38] staniel359 commented on #67
@filipporomani I see.
Can you provide a song example?

[2022-09-11 12:40] filipporomani commented on #67
For example glimmer of hope by Tevvez
In spotify app i get full surround, in muffon i don't

[2022-09-11 12:42] staniel359 commented on #67
@filipporomani Do you use Spotify premium account or basic?

[2022-09-11 12:42] filipporomani commented on #67
Basic

[2022-09-11 16:08] staniel359 commented on #67
@filipporomani I made a research on your question.
Turns out that there're some problems with 5.1 sound on Chromium-based browsers (Electron / Chrome / Edge).
Whereas Firefox plays it fine.

Didn't find much information on how to solve this.
If there're some info, it's outdated now.

[2022-09-11 16:11] filipporomani commented on #67
Ok, hope Google will document it!
Anyways, thank you for the help!

[2022-09-25 22:25] candroid-man opened #70 "Create a Discord, Revolt, Matrix, or Mattermost server, so we can talk to you (the devs) casually"
Discord would be the best option for convenience, since even most Linux users use Discord, but it is not very private.
[Revolt](https://revolt.chat/) is a FOSS Discord clone that could work well
Matrix would be the most private but wouldn't support multiple chats within one place
Mattermost is best for development and direct integration with GitHub for issues and to chat with people

No matter wha

[2022-09-26 09:29] staniel359 commented on #70
@candroid-man Hello.
Okay, I've created Discord server:
https://discord.gg/kpWsA5NBmJ

[2022-09-26 09:32] candroid-man commented on #70
Could you create a permanent link? That link seems to have already expired

[2022-09-26 09:33] candroid-man commented on #70
Ignore that I'm stupid

[2022-09-26 09:37] #70 closed, assigned to staniel359

[2022-10-08 18:51] FiftyFour7250 opened #73 "Several ideas and suggestions"
Понятия не имею как и зачем я сюда попал, но мне очень понравилась концепция, так что несколько моментов, которые хотелось бы увидеть в будущем. И да я понимаю, что ничего из этого никогда не будет реализовано. Так что просто на случай, если кому-нибудь нужны идеи.

1. Возможность изменять масштаб интерфейса. На разрешении 3440x1440 (21:9) интерфейс выглядит мелковато, хотелось бы на 10-20% увелич

[2022-10-09 09:45] staniel359 commented on #73
@FiftyFour7250 Приветствую.
Спасибо за отклик.

- [x] 1. Запланировано
- [ ] 2. Запланировано (#55)
3. Частый запрос, но мобильная версия пока не планируется
- [x] 4. Неплохая мысль, можно будет попробовать добавить
- [ ] 5. Запланировано

Так что зря Вы так :)

# English Translation
@FiftyFour7250 Hello,

Thank you for your response.

- [x] 1. Planned
- [ ] 2. Planned (#55)
- [ ] 3. A frequent re

[2022-10-29 20:47] Alexey-Yoshimitsu opened #74 "Есть идея"
Предлагаю сделать отдельную версию приложения на tauri, так как electron достаточно много потребляет ресурсов. Я бы сделал сам отдельную ветку, но я плохо понимаю ваш код. Было бы неплохо если бы вы по подробнее объяснили что происходит при работе приложения и тд. Так же я был бы рад поучаствовать в разработке. Как говориться: "Чем смогу тем помогу".

[2022-10-30 09:34] staniel359 commented on #74
@Alexey-Yoshimitsu Приветствую.

Только недавно узнал про Tauri и хотел перейти на него, но есть несколько нюансов:

Во-первых, совсем не знаю Rust.

А во-вторых, не похоже, что получится реализовать систему вкладок, поскольку Tauri не имеет аналога `BrowserView` из Electron'а, который сейчас для этого используется в muffon'е.

Где-то было сказано, что в отличие от Electron'а, который является по

[2022-11-03 12:48] #74 closed, assigned to staniel359

[2022-11-16 17:22] gamersi opened #76 "Error when building in production"
I ran `yarn build:all` and when I run the output (muffon.app) this error appears:
I already tried reinstalling the node_modules

<img width="486" alt="image" src="https://user-images.githubusercontent.com/46320904/202249371-91733e10-8821-40b4-bced-2843b26c5da1.png">

[2022-11-16 17:25] gamersi opened #77 "UI bug on macOS"
It looks good on windows but when i run it in macOS(no matter if i run your release or build from source) the tabs on the top are cut off:
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/46320904/202250398-3ac59e86-5942-4b16-a9fa-86b2437af9c1.png">

[2022-11-16 18:40] staniel359 commented on #76
@gamersi Hello.
You need `.env` file in the project's root.
There are two variables, but I can't write them here.
I can send them to you.

[2022-11-16 18:43] staniel359 commented on #77
@gamersi Hello again.
Does this happen both on maximized and non-maximized window?

[2022-11-16 18:46] gamersi commented on #77
yes. but if i maximize it **and** press cmd + R then it reloads and fixes itself but only when it is in fullscreen

[2022-11-16 18:48] gamersi commented on #77
if you want i can send you a video via email

[2022-11-16 18:52] staniel359 commented on #77
@gamersi Yes, please.
staniel359@gmail.com

[2022-11-16 18:53] gamersi commented on #76
I just found that very weird because I followed the instruction from your readme. As a javascript developer myself I debugged it and thought that it would be sth like this. but could you explain why those are needed, just out of curiosity? I saw you added that a few weeks ago

[2022-11-16 19:02] gamersi commented on #77
I sent it to you(sigamer805@gmail.com)

[2022-11-16 19:09] staniel359 commented on #76
@gamersi Sorry, I totally forgot about build instructions.
They were written for Arch Linux users.
And as long as new version will include AppImage file, I was planning to remove the instructions.

There are actually 2 variables:
- Local store encryption key

This one was added to protect downloaded audio files from being decrypted.
And in general, I wanted to protect local storage file from being

[2022-11-16 19:15] gamersi commented on #76
Ok thank you for the quick and detailed answer.
I just wanted to build it in prod to test my language pack but now it is finished anyways.
Your Readme seems outdated in general.
When will there be a new release, considering ( as far as I saw it) the changes since the last 0.3.0 are kind of big?

[2022-11-16 19:22] staniel359 commented on #76
@gamersi

If you want to test it, I can send you `.env` file by mail.

Could you give me an example?

There're some difficulties with Italian translation right now.
When it is updated, the new version will be released.

[2022-11-16 19:29] gamersi commented on #76
The build thing is still in there
There are more translations than those who are on there
Some things that are already implemented are listed as upcoming.
or could just be me being confused right now...

When it is updated, the new version will be released.

ok thanks

[2022-11-16 19:40] staniel359 commented on #76
@gamersi

I'll remove it with next release.

Some things that are already implemented are listed as upcoming.
or could just be me being confused right now...

That's because you've cloned the version with yet unreleased features.
Whan new version will be released, README will be updated.

[2022-11-16 19:41] gamersi commented on #76
OK, Thank you

[2022-11-16 19:41] #76 closed, assigned to staniel359

[2022-11-16 19:44] staniel359 commented on #77
@gamersi Thank you.
That's weird.
Will try to figure this out.

[2022-11-16 20:33] staniel359 commented on #77
@gamersi Does this happen on app start or after window resize?

[2022-11-16 21:17] gamersi commented on #77
On App Start
MacBook Pro 2019
macOS Ventura

[2022-11-16 22:28] staniel359 commented on #77
@gamersi I see.
Too bad I don't have a Mac to test this bug.

Could you try installing earlier versions of the app and see when the bug starts to happen?
Maybe it is related to Electron version update.

[2022-11-17 16:37] gamersi commented on #77
I am going to try it now and will tell you the result of my research

[2022-11-17 17:06] gamersi commented on #77
Ok, I just tried version 2.0 and there were no such issues. it appears to affeact only version 3 and above.
And I just want to say that you should probably include a uninstaller for macos, bekause pkgs can be tricky to delete(I had to use AppCleaner to remove everything so that it could be reinstalled)

[2022-11-17 18:56] staniel359 commented on #77
@gamersi Thanks for the hint.

There will be `.dmg` installer for the next version.
Are they easier to uninstall?

[2022-11-17 18:58] gamersi commented on #77
I would think so but could make problems with incompatible local data I think

[2022-11-17 19:01] staniel359 commented on #77
@gamersi How do you usually uninstall apps on Mac and what extensions do installers have?

[2022-11-17 19:15] gamersi commented on #77
There are 3 common types of "installers"

- Dmg: most popular, it has the packaged app as zip(number 3) and a reference to the applications folder. You simply drag the application to the referenced folder. To uninstall, you simply delete the zip(.app) out of the applications folder in the most cases
- pkg: executable, kinda like a windows installer. Uninstalled must be manually provided unless the

[2022-11-17 19:26] staniel359 commented on #77
@gamersi Got it, thank you.

Will try to fix the bug.

[2022-11-17 20:01] staniel359 commented on #77
@gamersi I've made changes.
Could you test them on your system?

[2022-11-17 20:29] gamersi commented on #77
I just downloaded the newest src and I think isMac is not getting initialized properly:

A JavaScript error occurred in the main process
Uncaught Exception:
ReferenceError: isMac is not defined
at create (/Users/simon/Documents/code/muffon/electron/actions/tab/create.js:73:26)
at IpcMainImpl.handleAddTab (/Users/simon/Documents/code/muffon/electron/handlers/ipc/tab.js:24:3)
at IpcMainImpl.emit (no

[2022-11-17 20:33] staniel359 commented on #77
@gamersi Oops, sorry.

[2022-11-17 20:39] gamersi commented on #77
It works fine now, but if you start/refresh it in fullscreen there is a bit too much spacing
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/46320904/202554747-24e240b0-eb45-4aa0-b898-ea467a6a2d5b.png">

[2022-11-17 20:43] staniel359 commented on #77
@gamersi I see.
Could you send me a video of this behavior?
(You can attach it here).

[2022-11-17 20:48] gamersi commented on #77
unfortunately, the video is 40MB and the size limit on github is 10MB. I am going to send it via email as I already did yesterday

[2022-11-17 20:52] gamersi commented on #77
sent it

[2022-11-18 10:19] staniel359 commented on #77
@gamersi Thank you.
I've made changes.
Could you check?

[2022-11-18 13:26] gamersi commented on #77
it works like a charm now.
Thanks

[2022-11-18 14:51] staniel359 commented on #77
@gamersi Thank you for your help.

[2022-11-18 14:51] #77 closed, assigned to staniel359

[2022-11-24 14:09] Wellingtonmab opened #80 "Thanks"
What a wonderful app. Congratulations on the beautiful and exquisite work.

[2022-11-24 15:18] staniel359 commented on #80
@Wellingtonmab Hello.
Thank you very much, I really appreciate it. 🙂

[2022-11-24 15:18] #80 closed, assigned to staniel359

[2022-11-29 00:29] Wellingtonmab opened #81 "Playlist"
It is not allowing to delete songs added to the playlist in windows 7.

[2022-11-29 09:41] staniel359 commented on #81
@Wellingtonmab Hello.
I know, it's a bug with delete modal.
The fix has already been made and will be released in the next version.

[2022-11-29 09:41] #81 closed, assigned to staniel359

[2022-11-30 21:48] arsaboo opened #82 "[Feature] Can we please add Plex?"
As the title says, it would be great to have Plex integration. I have a ton of music that is not available on any streaming platform. Plex has a well-developed [API](https://github.com/pkkid/python-plexapi) and will be a great music source.